<div class="container" style="padding: 200px;">
<div class="form-group">
  <form class="row" [formGroup]="form" (ngSubmit)="enviar()" >
    <div class="form-floating">
      <select class="form-select" formControlName="tipoIdentificacion">
          <option *ngFor="let tipoPersona of tipopersona" value="{{tipoPersona.uuidtipopersona}}">
          {{tipoPersona.tipopersona}}</option>
        <option selected>Tipo Persona</option>
      </select>
    </div>
    <div class="form-floating mb-3">
      <input type="number" formControlName="numeroidentificacion" class="form-control" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Número de identificación</label>
    </div>
   
    <div class="form-floating">
      <input type="password" formControlName="contrasenia"  class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>
   
    <div class="col">
      <button type="submit" class="btn btn-success">Login</button>
    </div>
  </form>
</div>
</div>